body{
    font-family: "Maven Pro", Tahoma, sans-serif !important;    
}
.bs-example nav{
    background-color: #fff !important;
    padding: 12px 75px !important;
    position: fixed;
    z-index: 1000;
}
.nav-item{
    color: rgb(0,0,0,0.5) !important;
    padding: 15px 0;
    margin: 0px 2px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    font-size: 15.5px;
    font-weight: 400;
    letter-spacing: 1px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important
}
.navbar-brand{
    width: 15%
}
.navbar-brand img{
    width: 100%
}
.active-page{
    color: white !important;
    background-color: blue !important;
}
footer{
    background-color: #545454;
    color: #fff;
    bottom: 0;
    margin-top: 0
}
hr{
    width: 80%;
    margin: 0px auto;
}
footer{
    font-weight: 300 !important;
}
.footer-header{
    font-size: 1.3rem !important;
    line-height: 25px;
}
.footer-text{
    font-size: 1rem !important;
}
.footer-contact{
    background-color: rgba(0,0,0,.1);
    height: 100%;
    padding: 40px 0 !important;
    margin-bottom: 40px;
}
.footer-contact h3{
    font-size: 30px;
}
.carousel-item{
    height: 35rem;
}
@-webkit-keyframes example {
    from {left: -15rem}
    to {left: 15rem}
}
@keyframes example {
    from {left: -15rem}
    to {left: 15rem}
}
.animation{
    animation: example 0.5s 0.5s;
}
.carousel-item .carousel-caption{
    font-weight: 300 !important;
    width: 45%;
    bottom: 5%;
    text-align: left !important;
}
.carousel-item h4{
    font: inherit;
    font-size: 2.8rem !important;
}
.carousel-item p{
    font: inherit;
    font-size: 1.7rem !important;
    width: 10rem;
    text-align: center;

}
.carousel-item img{
    height: 100% !important;
}
.home-services{
    margin-bottom: 50px;
}
.home-services h2{
    text-align: center;
    padding: 0px 4rem;
    padding-bottom: 70px;
    font-size: 1.5rem !important;
    font-weight: 300;
    opacity: 0.9;
}
.home-services h3{
    color: #ff0000;
    margin-left: 20px;
    font-size: 27px;
    line-height: 27px;
    font-weight: 300;
    letter-spacing: 0px;
    opacity: 0.7;
}

.home-services .row{
    margin-top: 70px;
    border-bottom: 1px solid rgb(0,0,0,0.2);
}

.home-services p{
    opacity: 0.6;
    padding: 15px;

}
.read_more{
    margin-left: 70%;
    padding-right: 20px;
    color: #ff0000
}

.home-benefits{
    margin: 40px 0;
    padding: 0 50px;
}
.home-benefits img{
    display: block;
    margin: 20px auto;
    margin-top: 70px
}
.home-benefits .body{
    margin-left: 15% !important;
    border: 1px solid #eaeaea
}
.home-benefits .col-md-4{
    margin: 0 !important;
}
.home-benefits .body div.btn{
    width: 100%;
    text-align: left;
    font-weight: bold;
    background-image: url("../bg_panel.png");
    color: #444;
    font-size: 1rem !important;
    overflow: hidden;
    font-weight: 700;
    position: relative;
    border-style: solid;
    cursor: pointer;
    word-wrap: break-word;
    border: none !important;
    outline: none !important;

}
.home-benefits .body i{
    padding: 10px;
}
.show{
    display: block;
}
.hidden{
    display: none;
}
.red{
    color: red !important
}
.home-benefits .collapse{
    padding: 20px;
    opacity: 0.5;
}

.about{
    color: #656565 !important;
    background-image: url('../HSpeed train4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size:cover;
    height: 35rem;
    text-align: center;
}
@-webkit-keyframes about {
    from {margin-left: -10000px}
    to {margin-left: 0px}
}
@keyframes about {
    from {margin-left: -10000px}
    to {margin-left: 0px}
}
.about-title{
    font-size: 38px;
    line-height: 38px;
    color: #737373;
    text-align: center;
    padding: 50px 100px 50px;
    animation: about 0.5s;
    color: blue;
}
.about-txt{
    font-size: 20px;
    color: rgb(0,0,0,0.5);
    margin: 50px 0;
    border-left: 15px solid blue;   
}
.about-soln{
    background-image: url('../energe-soln.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size:cover;
    padding: 250px;
    text-align: center;
    color: #fffaf5;
    height: 35rem
}
@-webkit-keyframes desc1 {
    from {margin-top: -300px}
    to {margin-top: 0px;}
}
@keyframes desc1 {
    from {margin-top: -300px}
    to {margin-top: 0px;}
}
.about-soln .desc{
    width: 100%;
    letter-spacing: 1px;
    animation: desc1 1s 0.5s;

}
.about-soln .desc .subtitle{
    margin: 15px auto;
    background-color: #ff0000;
    width: 20% !important;
}
.about-soln .desc h2{
    font-size: 27px;
    line-height: 27px;
}
.about-soln .desc .line{
    margin: auto;
    width: 0%;
    height: 2px;
    background-color: #fff
}

.services-header{
    background-image: url("../energe-soln.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 400px;
    margin-bottom: 120px;
}
.services{
    color: #737E86;
}


.careers-header{
    text-align: center;
    color: #737373;
    margin: 70px 0;
}
.careers-header h2{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 15px
}
.careers-header span{
    color: #ff0000;
}
.job{
    color: #737373
}
.job h2{
    font-weight: bold
}
.job h5{
    margin-top: 20px
}
.job .section{
    margin-top: 25px
}
.job .section-title{
    font-weight: bold
}

.contact{
    color: #737373;
}
.contact label{
    font-weight: bold
}
.contact .form-control{
    width: 400px;
    margin-bottom: 15px;
}
.contact .md-textarea{
    height: 200px
}
.contact .send{
    margin: 20px auto;
    color: #fffaf5 !important;
    font-weight: bold;
    padding: 10px 15px
}
.contact .location:first-child{
    margin-top: 40px
}
.contact .contacts{
    margin-top: 50px;
    color: #ff0000
}
.contact form{
    margin: auto
}
#mapContainer{
    width: 100%;
    height: 450px;
    padding: 120px
}


.nav-pills .nav-item .nav-link {
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
    min-width: 100px;
    color: #555;
    transition: all .3s;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 4px;
}


.nav-pills:not(.flex-column) .nav-item+.nav-item:not(:first-child) {
    margin-left: 80px;
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #9c27b0;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}


.nav-pills.nav-pills-info .nav-item .nav-link.active, .nav-pills.nav-pills-info .nav-item .nav-link.active:focus, .nav-pills.nav-pills-info .nav-item .nav-link.active:hover {
    background-color: #00bcd4;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(0,188,212,.6);
    color: #fff;
}


.nav-pills.nav-pills-success .nav-item .nav-link.active, .nav-pills.nav-pills-success .nav-item .nav-link.active:focus, .nav-pills.nav-pills-success .nav-item .nav-link.active:hover {
    background-color: #4caf50;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(76,175,80,.6);
    color: #fff;
}


.nav-pills.nav-pills-warning .nav-item .nav-link.active, .nav-pills.nav-pills-warning .nav-item .nav-link.active:focus, .nav-pills.nav-pills-warning .nav-item .nav-link.active:hover {
    background-color: #ff9800;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(255,152,0,.6);
    color: #fff;
}


.nav-pills.nav-pills-danger .nav-item .nav-link.active, .nav-pills.nav-pills-danger .nav-item .nav-link.active:focus, .nav-pills.nav-pills-danger .nav-item .nav-link.active:hover {
    background-color: #f44336;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6);
    color: #fff;
}

.nav-pills.nav-pills-rose .nav-item .nav-link.active, .nav-pills.nav-pills-rose .nav-item .nav-link.active:focus, .nav-pills.nav-pills-rose .nav-item .nav-link.active:hover {
    background-color: #e91e63;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(233,30,99,.6);
    color: #fff;
}

.nav-pills .nav-item .nav-link:not(.active):hover {
    background-color: rgba(200,200,200,.2);
}

.nav-pills .nav-item i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}


.nav-pills.flex-column .nav-item+.nav-item {
    margin-top: 5px;
}
.tab-content{
    border: 1px solid rgb(0,0,0,0.2);
    padding: 15px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.4rem;
    color: rgb(0,0,0,0.6)
}
.tab-pane{
    display: none;
    font-weight: 300;
}
.tab-space {
    padding: 20px 0 50px;
    font-weight: 300;
}
.active-pane{
    display: block !important;
}